.header {
	margin: 30px auto;
	overflow: hidden;
}

.header__logo {
	background-image: url(../images/logo.png);
	background-position: 0 5px;
	background-repeat: no-repeat;
	height: 155px;
	margin: 0 auto;
	text-indent: -5000px;
	width: 280px;
}


.container h1 {
	float: left;
	text-indent: -5000px;
}

.copyright {
	text-align: center;
}

@media (max-width: 992px) {
	.header__photo {
		display: none;
	}
}

